
<div class="row body">

    <app-sidebar> </app-sidebar>
  </div>
<div style="text-align: center; margin-top: 50px;">
<div class="item active">
  <img  [src]="contact.logo"  style="width:100%; height: 15%">
</div>

<div style="padding:3px; border-top:5px dashed #fff; border-bottom:5px dashed #fff; background-color:#e3e3e3;">
  <strong><p>Cette plateforme consiste à gérer et suivre les incidents touchant la vie des citoyens marocains.</p></strong>

  <ul>
    Sur le volet <strong>SIG</strong>, vous pouvez consulter et visualiser et géolocaliser les différents incidents déclarés sur une carte et faire des filtres selon le secteur, le statut, .. etc
  </ul>
  <ul>
    Le volet <strong>Professionnel</strong> est dédié aux professionnels pour gérer les listes des incidents qui concernent son secteur at son domaine d'activité.
  </ul>
  <ul>
    Le volet <strong>Administration</strong> est dédié aux administrateurs de la plateforme. Ces derniers s'occupent de
    la gestion des incidents déclarés en attente de validation (avec publication) ou Rejet (avec motif rejet),
    de la traçabilité du cas de rejet avec motif donné par rapport à l'identifiant applicatif du déclarant, de
    la mise à jour de l'état de traitement des incidents.
  </ul>
  <ul>
    Sur le volet <strong>Tableau de bord</strong>, vous pouvez consulter les statistiques des incidents selon les secteurs, selon les provinces,..etc
  </ul>
</div>
</div>
<p></p>




