<div class="row body">

  <app-sidebar> </app-sidebar>
</div>
<div style="padding-left: 210px; padding-top: 100px;">

<ng-template #template>
  <div style="padding-left: 210px;">
  <div class="modal-header">
    <button type="button" class="close pull-right" area-label="'close" (click)="modalRef.hide()">
      <span area-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">
    <label>statut:</label>
    <select   name="statut"  (change)="changeStatut($event)">
      <option  [value]=null  >Selectionner un statut </option>
      <option  *ngFor="let s of list_statut" >{{s}}</option>
    </select>
    <br>
    <button type="submit" (click)="submit()"class="btn btn-success" >valider</button>

  </div>
  </div>
</ng-template>

<div class="container">
  <div style="padding-left: 210px;">
  <button type="submit" class="monBoutton" style="display: block;margin : auto;"
   (click)="ListerIncidentByUser()">Afficher mes incidents </button>
   <p></p>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Liste des incidents
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th scope="col" > Photo </th>

          <th scope="col"> Date </th>
          <th scope="col" > Statut </th>
          <th scope="col" > Secteur </th>
          <th scope="col" > Province </th>
          <th scope="col" > Type d'incident </th>
          <th scope="col" > Desciption  </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of ownIncidents">
          <td scope="row" >
            <img class="image" [src]="item.photo">
          </td>

          <td scope="row">{{ item.date }}</td>
          <td scope="row">{{ item.statut.etat }}</td>
          <td scope="row">{{ item.secteur.secteur }}</td>
          <td scope="row">{{ item.province.province }}</td>
          <td scope="row">{{ item.type.type }}</td>
          <td scope="row">{{ item.description }}</td>

          <button type="submit" class="edit" (click)="openModal(template,item)">Editer</button>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

        
