.image{
  width: 100px;
  height: 80px;
}

.monBoutton {
  background-color:#20B2AA;
  Color:white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 3px;
  position: relative;
  left: -61%;
  cursor: pointer; 
  box-shadow: 0 8px 16px 0 grey;
  text-decoration: none;
  }
  .monBoutton3 {
    background-color:#20B2AA;
    Color:white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 3px;
    left: -49%;
    cursor: pointer; 
    box-shadow: 0 8px 16px 0 grey;
    text-decoration: none;
    }
    .monBoutton1 {
      background-color:#20B2AA;
      Color:white;
      font-weight: bold;
      padding: 10px 40px;
      border-radius: 3px;
      left: -49%;
      cursor: pointer; 
      box-shadow: 0 8px 16px 0 grey;
      text-decoration: none;
      }
.edit {
  background-color:gray;
  Color:white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 3px;
  cursor: pointer; 
  box-shadow: 0 8px 16px 0 grey;
  text-decoration: none;
}

.panel-primary{
  margin-right: 2% !important;
    margin-left: -24% !important;
    width: 128%;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #20B2AA;
  border-color: #337ab7;
}