


<ng-template #template>
  <div style="padding-left: 210px;">
  <div class="modal-header">
    Veuillez mettre a jour le statut
    <button type="button" class="close pull-right" area-label="'close" (click)="modalRef.hide()">
      <span area-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-body">

    <label>statut:</label>
    <select   name="statut"  (change)="getStatut($event)">
      <option  [value]=null  >Selectionner un statut </option>
      <option  *ngFor="let s of statut" >{{s}}</option>
    </select>
    <br>
    <label *ngIf="StatutChoisi === 'validé'"> Professionnel:</label>
    <select   name="user"   *ngIf="StatutChoisi === 'validé'" (change)="do2($event)" >
      <option  [value]=null  >Selectionner un  Professionnel </option>
      <option  *ngFor="let s of prof"  value={{s.id}}>{{s.name}}</option>
    </select>
    <br>
    <input *ngIf="StatutChoisi === 'rejeté'" type="text"  id="Motif" class="form-control"  formControlName="Motif" placeholder="Motif" (change)="motif($event)" >
    <br>
    <button type="submit" (click)="submit()"class="btn btn-success" >valider</button>
    <br>
    <br>
    <br>
    <br>
  </div>
  </div>
</ng-template>
<div class="container">
  <div style="padding-left: 210px;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" > Photo </th>

        <th scope="col"> Date </th>
        <th scope="col" > Statut </th>
        <th scope="col" > Secteur </th>
        <th scope="col" > Province </th>
        <th scope="col" > Type d'incident </th>
        <th scope="col" > Desciption  </th>
      </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of Incidents" >
            <td scope="row" >
              <img class="image" [src]="item.photo">
            </td>

            <td scope="row">{{ item.date }}</td>
            <td scope="row">{{ item.statut }}</td>
            <td scope="row">{{ item.secteur.secteur }}</td>
            <td scope="row">{{ item.province.province }}</td>
            <td scope="row">{{ item.type.type }}</td>
            <td scope="row">{{ item.description }}</td>

                
            <button type="submit" class="btn btn-success"  *ngIf=" item.statut === 'declare'"  (click)="openModal(template,item)">Editer</button>
          </tr>
        </tbody>
      </table>
      </div>
</div>

